[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/volk"]
	path = ext/volk
	url = https://github.com/zeux/volk
[submodule "ext/spirv_reflect"]
	path = ext/spirv_reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "ext/vma"]
	path = ext/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
